<script src="/public/admin/bundles/jquery/jquery.min.js"></script>
<script src="/public/admin/bundles/popper/popper.js"></script>
<script src="/public/admin/bundles/jquery-blockUI/jquery.blockui.min.js"></script>
<script src="/public/admin/bundles/jquery.slimscroll/jquery.slimscroll.js"></script>
<script src="/public/admin/bundles/feather/feather.min.js"></script>
<!-- bootstrap -->
<script src="/public/admin/bundles/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/admin/bundles/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="/public/admin/bundles/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
<script src="/public/admin/bundles/bootstrap-colorpicker/js/bootstrap-colorpicker.js" charset="UTF-8"></script>
<script src="/public/admin/bundles/bootstrap-colorpicker/js/bootstrap-colorpicker-init.js" charset="UTF-8"></script>
<script src="/public/admin/bundles/flatpicker/js/flatpicker.min.js"></script>
<script src="/public/admin/bundles/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script src="/public/admin/data/bootstrap-datetimepicker-init.js" charset="UTF-8"></script>
<script src="/public/admin/data/date-time.init.js"></script>
<!-- Common js-->
<script src="/public/admin/app.js"></script>
<script src="/public/admin/layout.js"></script>
<script src="/public/admin/theme-color.js"></script>
<!-- Material -->
<script src="/public/admin/bundles/material/material.min.js"></script>
<!-- dropzone -->
<script src="/public/admin/bundles/dropzone/dropzone.js"></script>
<!--tags input-->
<script src="/public/admin/bundles/jquery-tags-input/jquery-tags-input.js"></script>
<script src="/public/admin/data/jquery-tags-input-init.js"></script>
<!--select2-->
<script src="/public/admin/bundles/select2/js/select2.js"></script>
<script src="/public/admin/data/select2-data.js"></script>

</body>
</html>