<!-- start header -->
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <!-- logo start -->

        <div class="page-logo">
            <a href="/admin/dashboard">
                <!-- <span class="logo-icon fa fa-stethoscope fa-rotate-45"></span> -->
                <h4 class="logo-default" >
                    <!-- Loyalty -->
                    <%= adminBusinessName ? adminBusinessName : "" %>
                </h4></a>
        </div>
        <!-- logo end -->
        <ul class="nav navbar-nav navbar-left in">
            <li><a href="#" class="menu-toggler sidebar-toggler"><i data-feather="menu"></i></a></li>
        </ul>
        <!-- start mobile menu -->
        <a class="menu-toggler responsive-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- end mobile menu -->
        <!-- start header menu -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- start manage user dropdown -->
                <% if (superAdmin) { %>
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-close-others="true" href="/admin/list">
                            <i data-feather="arrow-left"></i>
                            <span class="username username-hide-on-mobile">
                                Back to Dashboard
                            </span>
                        </a>
                    </li>
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa-regular fa-user"></i>
                            <span class="username username-hide-on-mobile">
                           Super Admin
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="/admin/log-out">
                                    <i class="icon-logout">
                                     Logout
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa-regular fa-user"></i>
                      
                            <span class="username username-hide-on-mobile">
                            Admin
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="/admin/log-out">
                                    <i class="icon-logout">
                                     Logout
                                    </i>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="#">
                                    <i class="icon-settings"></i> Settings
                                </a>
                            </li> -->
                        </ul>
                    </li>
                <% } %>
                <!-- end manage user dropdown -->
                <li class="dropdown dropdown-quick-sidebar-toggler">
                    <!-- <a id="headerSettingButton" class="mdl-button mdl-js-button mdl-button--icon pull-right"
                        data-upgraded=",MaterialButton">
                        <i class="material-icons">more_vert</i>
                    </a> -->
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- end header -->

