<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Reset Email</title>
</head>

<body style="  background: #fff9f9;
display: flex;
justify-content: center;">
    <div style=" width: 380px;
    background: #fffdfd;">
        <div style="display: flex;
        justify-content: center;
        padding: 25px;">       
 <div class="content">
    <!-- <img  style="  display: block;
    margin: auto;
      padding-top: 15px;" src="https://res.cloudinary.com/duoi14w2a/image/upload/v1693282868/tdh6erx1kgzoscjjttab.png" alt=""> -->
 <h4>Hello  <%= name %>!</h4>
 <!-- <p>Someone, hopefully you, has requested to reset
   the password for your Subby account.</p>
 <p style=" font-size: 16.5px;
 font-weight:500;">If you did not perform this request, you can safely ignore this email.</p> -->
 <p style=" font-size: 16.5px;
 font-weight:500;"> Choose this otp to reset password.</p>
 <!-- <h1 style="text-align: center;"></h1> -->
 <a  style=" color: rgb(255, 255, 255);
 background: #f52929;
 padding: .6vmax 2.5vmax;
 font-size: 15px;
 font-weight: 500;
 border-radius: 10px;
 margin: auto;
margin-left: 20%;
text-decoration: none;
"><%= otp %></a>
 <p style="display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 1vmax;">
  <!-- <h4 style="margin-top: 25px;margin-bottom:-18px">Cheers,</h4>
 <h4>Team Subby</h4> -->
 </p>
 </div>
        </div>
    </div>
</body>
</html>